In [1]:
import pandas as pd
import numpy as np
import datetime

from sklearn.neighbors import LocalOutlierFactor
from sklearnex import patch_sklearn
from pandas_profiling import ProfileReport

patch_sklearn()

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [2]:
data_path = '../data/'
output_path = '../out/'

In [3]:
data = pd.read_csv(data_path + 'bikes.csv')

/home/MarSzyd/anaconda3/envs/dv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2,4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
data.drop([
        'return_latitude', 'return_longitude',
        'departure_id', 'return_id'
    ],
    axis=1, inplace=True
)

In [5]:
data.head()

,departure,return,departure_name,return_name,distance (m),duration (sec.),avg_speed (km/h),departure_latitude,departure_longitude,Air temperature (degC)
0,2020-03-23 06:09:44,2020-03-23 06:16:26,Kuusitie,Esterinportti,1747.0,401.0,0.261397,60.195245,24.901900,0.9
1,2020-03-23 06:11:58,2020-03-23 06:26:31,Kamppi (M),Kasarmitori,1447.0,869.0,0.099908,60.168610,24.930537,0.9
2,2020-03-23 06:16:29,2020-03-23 06:24:23,Porolahden koulu,Agnetankuja,1772.0,469.0,0.226695,60.195540,25.053581,0.9
3,2020-03-23 06:33:53,2020-03-23 07:14:03,Vallipolku,Korppaanmäentie,7456.0,2406.0,0.185935,60.227827,24.819614,0.9
4,2020-03-23 06:36:09,2020-03-23 07:04:10,Länsisatamankatu,Vilhonvuorenkatu,7120.0,1679.0,0.254437,60.158928,24.909692,0.9

In [6]:
data.describe()

,distance (m),duration (sec.),avg_speed (km/h),departure_latitude,departure_longitude,Air temperature (degC)
count,1.215746e+07,1.215746e+07,1.215391e+07,1.215746e+07,1.215746e+07,1.214156e+07
mean,2.295275e+03,9.597751e+02,3.355556e-01,6.017981e+01,2.492023e+01,1.565044e+01
std,2.452067e+04,7.346528e+03,3.428006e+01,1.733003e-02,5.764062e-02,5.497952e+00
min,-4.292467e+06,0.000000e+00,-4.689001e+02,6.014792e+01,2.472137e+01,-5.200000e+00
25%,1.000000e+03,3.440000e+02,1.467403e-01,6.016723e+01,2.490969e+01,1.230000e+01
50%,1.739000e+03,5.860000e+02,1.863679e-01,6.017608e+01,2.493407e+01,1.640000e+01
75%,2.869000e+03,9.710000e+02,2.204348e-01,6.018964e+01,2.495029e+01,1.930000e+01
max,3.681399e+06,5.401659e+06,1.699104e+04,6.023911e+01,2.510620e+01,3.290000e+01

In [7]:
data.columns

Index(['departure', 'return', 'departure_name', 'return_name', 'distance (m)',
       'duration (sec.)', 'avg_speed (km/h)', 'departure_latitude',
       'departure_longitude', 'Air temperature (degC)'],
      dtype='object')

## Rename column names

In [8]:
data.rename(columns={
    'distance (m)' : 'distance',
    'duration (sec.)' : 'duration',
    'avg_speed (km/h)' : 'avg_speed',
    'Air temperature (degC)' : 'temperature'
}, inplace=True)

In [9]:
data.dtypes

departure               object
return                  object
departure_name          object
return_name             object
distance               float64
duration               float64
avg_speed              float64
departure_latitude     float64
departure_longitude    float64
temperature            float64
dtype: object

## Change datatypes to dates

In [10]:
data['departure'] = pd.to_datetime(data['departure'])
data['return'] = pd.to_datetime(data['return'])

In [11]:
data.head(10)

,departure,return,departure_name,return_name,distance,duration,avg_speed,departure_latitude,departure_longitude,temperature
0,2020-03-23 06:09:44,2020-03-23 06:16:26,Kuusitie,Esterinportti,1747.0,401.0,0.261397,60.195245,24.901900,0.9
1,2020-03-23 06:11:58,2020-03-23 06:26:31,Kamppi (M),Kasarmitori,1447.0,869.0,0.099908,60.168610,24.930537,0.9
2,2020-03-23 06:16:29,2020-03-23 06:24:23,Porolahden koulu,Agnetankuja,1772.0,469.0,0.226695,60.195540,25.053581,0.9
3,2020-03-23 06:33:53,2020-03-23 07:14:03,Vallipolku,Korppaanmäentie,7456.0,2406.0,0.185935,60.227827,24.819614,0.9
4,2020-03-23 06:36:09,2020-03-23 07:04:10,Länsisatamankatu,Vilhonvuorenkatu,7120.0,1679.0,0.254437,60.158928,24.909692,0.9
5,2020-03-23 06:37:52,2020-03-23 06:58:56,Radiokatu,Porthania,5169.0,1262.0,0.245753,60.204990,24.918419,0.9
6,2020-03-23 06:39:51,2020-03-23 06:45:30,Tyynenmerenkatu,Hietalahdentori,1194.0,335.0,0.213851,60.156838,24.920661,0.9
7,2020-03-23 06:44:37,2020-03-24 12:02:19,Itämerentori,Meilahden sairaala,3651.0,1195.0,0.183314,60.163531,24.914517,0.9
8,2020-03-23 06:47:18,2020-03-23 07:01:09,Koskelantie,Kalasatama (M),3120.0,827.0,0.226360,60.208749,24.946514,0.9
9,2020-03-23 06:47:22,2020-03-23 06:56:22,Rautatieläisenkatu,A.I. Virtasen aukio,2070.0,535.0,0.232150,60.201438,24.933272,0.9

## Multiply avg_speed column by 100 to get meaningful values

In [12]:
data['avg_speed'] *= 100

In [13]:
data_len = len(data.index)
print(f"Length of the dataset before removal of usunal data points: {data_len}")

data.drop(data[((data.distance <= 0) | (data.avg_speed <= 0))].index, inplace=True)

Length of the dataset before removal of usunal data points: 12157458

In [14]:
quantiles = data[['distance', 'duration', 'avg_speed']].quantile([0.05, 0.25, 0.5, 0.75, 0.95])
quantiles

      distance  duration  avg_speed
0.05     453.0     164.0   5.671378
0.25    1057.0     360.0  15.166987
0.50    1794.0     600.0  18.844737
0.75    2924.0     983.0  22.166667
0.95    5298.0    1680.0  26.868750

In [15]:
for col in ['distance', 'duration', 'avg_speed']:
    data.drop(data[
        (data[col] < quantiles.loc[0.05][col]) | (data[col] > quantiles.loc[0.95][col])
    ].index, inplace=True)

data.reset_index(drop=True, inplace=True)
print(f"Length of the dataset after removal of usunal data points: {len(data.index)}")
print(f"Removed {data_len - len(data.index)} entries.")

Length of the dataset after removal of usunal data points: 9604122
Removed 2553336 entries.

## Detect outliers from the dataset and remove them

In [16]:
# Map -1 to True and 1 to False for outliers
converter = lambda val: True if val == -1 else False

In [17]:
# !!! The outlier detection takes a lot of RAM and time and depends on your hardware.

clf = LocalOutlierFactor(n_neighbors=30, n_jobs=-1)
outlier_array = clf.fit_predict(data[['distance', 'duration', 'avg_speed']])

outliers = np.array([converter(val) for val in outlier_array])

In [18]:
print(f"Detected {len(data[outliers])} ({round(len(data[outliers]) / len(data) * 100, 2)}%) outliers in the dataset!")
data[outliers].head(20)

Detected 273038 (2.84%) outliers in the dataset!

,departure,return,departure_name,return_name,distance,duration,avg_speed,departure_latitude,departure_longitude,temperature
8,2020-03-23 06:53:10,2020-03-23 07:00:38,Töölönkatu,Rautatientori / itä,1418.0,447.0,19.033557,60.177560,24.928327,0.9
80,2020-03-23 08:19:21,2020-03-23 08:23:02,Leppävaaran urheilupuisto,Muurarinkuja,646.0,220.0,17.618182,60.224943,24.800971,1.5
111,2020-03-23 08:46:52,2020-03-23 08:52:05,Herttoniemi (M),Laivalahden puistotie,808.0,309.0,15.689320,60.194615,25.028872,1.5
158,2020-03-23 09:32:37,2020-03-23 09:39:10,Intiankatu,Paavalinpuisto,1190.0,388.0,18.402062,60.207858,24.967638,1.9
322,2020-03-23 12:00:41,2020-03-23 12:07:44,Kamppi (M),Perämiehenkatu,1176.0,418.0,16.880383,60.168610,24.930537,3.3
353,2020-03-23 12:23:57,2020-03-23 12:29:16,Laivalahden puistotie,Herttoniemi (M),810.0,316.0,15.379747,60.187958,25.031385,3.3
370,2020-03-23 12:36:34,2020-03-23 12:42:25,Töölönkatu,Mannerheimintie,1160.0,349.0,19.942693,60.177560,24.928327,3.3
371,2020-03-23 12:36:50,2020-03-23 12:42:32,Töölönkatu,Mannerheimintie,1152.0,341.0,20.269795,60.177560,24.928327,3.3
373,2020-03-23 12:37:29,2020-03-23 12:44:15,Sammonpuistikko,Lastenlehto,1092.0,403.0,16.258065,60.173147,24.922411,3.3
412,2020-03-23 13:03:40,2020-03-23 13:07:04,Kauppakorkeakoulu,Kansallismuseo,615.0,202.0,18.267327,60.171159,24.924961,4.0
676,2020-03-23 15:15:32,2020-03-23 15:20:17,Vallikatu,Leppävaarankäytävä,993.0,283.0,21.053004,60.228463,24.813871,3.1
677,2020-03-23 15:16:03,2020-03-23 15:23:19,Friisilänaukio,Piispansilta,1375.0,435.0,18.965517,60.162842,24.721367,3.1
961,2020-03-23 16:32:15,2020-03-23 16:37:43,Roihupelto,Siilitie (M),878.0,324.0,16.259259,60.209287,25.055528,3.2
967,2020-03-23 16:33:41,2020-03-23 16:37:56,Gyldenintie,Heikkilänaukio,657.0,249.0,15.831325,60.158384,24.876666,3.2
1005,2020-03-23 16:42:35,2020-03-23 16:47:58,Säteri,Läkkitori,1062.0,321.0,19.850467,60.213443,24.811572,3.2
1018,2020-03-23 16:45:47,2020-03-23 16:50:18,Outotec,Komeetankatu,805.0,268.0,18.022388,60.163412,24.742219,3.2
1123,2020-03-23 17:09:37,2020-03-23 17:14:14,Kirjurinkuja,Leppävaaranaukio,989.0,275.0,21.578182,60.216695,24.826435,3.1
1240,2020-03-23 17:36:53,2020-03-23 17:40:24,Baana,Itämerentori,505.0,209.0,14.497608,60.164088,24.922566,3.1
1281,2020-03-23 17:43:12,2020-03-23 17:48:11,Velodrominrinne,Koskelantie,983.0,296.0,19.925676,60.201061,24.944051,3.1
1331,2020-03-23 17:53:06,2020-03-23 17:56:44,Designmuseo,Kapteeninpuistikko,621.0,216.0,17.250000,60.163103,24.945960,3.1

In [19]:
print(f"Data before removal of outliers has {len(data.index)} rows.")
data.drop(data[outliers].index, inplace=True)
data.reset_index(drop=True, inplace=True)
print(f"Data after removal of outliers has {len(data.index)} rows.")

Data before removal of outliers has 9604122 rows.
Data after removal of outliers has 9331084 rows.

## Replace names causing problems with csv

In [20]:
def replace_comma(val: str):
    return ' / '.join(val.split(', '))

replaced = data[data['departure_name'].str.contains(',')]['departure_name'].map(replace_comma)
data.loc[replaced.index, 'departure_name'] = replaced

## Export cleaned dataset to file

In [21]:
data.to_csv(path_or_buf=data_path + 'reduced.csv', index=False)

## Create HTML report of the dataset in out/ directory

In [22]:
# !!! Full profiling takes a lot of time and big chunk of RAM; Uncomment the next line to run full profiler that includes correlations between attributes

# profile = ProfileReport(data, title='Helsinki City Bikes').to_file(output_path + 'full_bikes.html')
ProfileReport(data, title='Helsinki City Bikes', minimal=True).to_file(output_path + 'partial_bikes.html')

Summarize dataset: 100%|██████████| 18/18 [01:04<00:00,  3.59s/it, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.25s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.19it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 32.45it/s]

## Create station file containing name, coordinates, count (people) and traffic

In [23]:
st_ser = data.groupby(by=['departure_name', 'departure_latitude', 'departure_longitude']).size().sort_values(ascending=False)
st_ser

departure_name          departure_latitude  departure_longitude
Itämerentori            60.163531           24.914517              260990
Töölönlahdenkatu        60.172191           24.939308              197480
Kamppi (M)              60.168610           24.930537              159197
Rautatientori / länsi   60.170606           24.939760              140745
Ympyrätalo              60.180863           24.949400              138812
                                                                    ...
Kutsuntatie             60.230453           24.824561                1642
Hagalundinpuisto        60.183630           24.817403                1634
Itäkeskus Metrovarikko  60.211446           25.065816                1003
Outotec                 60.163412           24.742219                 757
Derby Business Park     60.209017           24.835356                 240
Length: 347, dtype: int64

In [24]:
st_ser = st_ser.reset_index().rename(columns={0: 'count'}); st_ser

             departure_name  departure_latitude  departure_longitude   count
0              Itämerentori           60.163531            24.914517  260990
1          Töölönlahdenkatu           60.172191            24.939308  197480
2                Kamppi (M)           60.168610            24.930537  159197
3     Rautatientori / länsi           60.170606            24.939760  140745
4                Ympyrätalo           60.180863            24.949400  138812
..                      ...                 ...                  ...     ...
342             Kutsuntatie           60.230453            24.824561    1642
343        Hagalundinpuisto           60.183630            24.817403    1634
344  Itäkeskus Metrovarikko           60.211446            25.065816    1003
345                 Outotec           60.163412            24.742219     757
346     Derby Business Park           60.209017            24.835356     240

[347 rows x 4 columns]

In [25]:
def _get_category(val, quants: pd.Series):
    names = ['very low', 'low', 'moderate', 'high', 'very high']
    for ind, quant in enumerate(quants):
        if val <= quant:
            return names[ind]
    
    return names[-1]

def categorize(vals: pd.Series) -> pd.Series:
    quants = vals.quantile([0.2, 0.4, 0.6, 0.8])
    return vals.apply(lambda val: _get_category(val, quants))

In [26]:
cats = categorize(st_ser['count'])
cats.head(10)

0    very high
1    very high
2    very high
3    very high
4    very high
5    very high
6    very high
7    very high
8    very high
9    very high
Name: count, dtype: object

In [27]:
st_ser['traffic'] = cats
st_ser.head(10)

,departure_name,departure_latitude,departure_longitude,count,traffic
0,Itämerentori,60.163531,24.914517,260990,very high
1,Töölönlahdenkatu,60.172191,24.939308,197480,very high
2,Kamppi (M),60.168610,24.930537,159197,very high
3,Rautatientori / länsi,60.170606,24.939760,140745,very high
4,Ympyrätalo,60.180863,24.949400,138812,very high
5,Rautatientori / itä,60.170824,24.942527,127777,very high
6,Hietalahdentori,60.162225,24.929710,117334,very high
7,Sörnäinen (M),60.187736,24.960980,116899,very high
8,Ooppera,60.182553,24.926687,108303,very high
9,Porthania,60.169862,24.948146,102508,very high

In [28]:
st_ser.to_csv(data_path + 'stations.csv', index=False)